.tooltip-container {
  position: relative;
  display: flex;
  place-content: center;
}

/* styling of the tooltip display */
p#tooltip-text {
  display: none;
  position: absolute;
  top: -60px;
  z-index: 1;
  background: #8c96ec;
  padding: 8px;
  font-size: 1rem;
  color: #fff;
  border-radius: 2px;
  animation: fadeIn 0.6s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
